# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
ARGIA_VENV/

# Database
*.db
*.sqlite3

# Logs
*.log
nohup.out

# Docker
volumes/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
